<%- model_class = Guide -%>


<div class="page-header" style="text-align:center;">
  <h1 class="helv">Choose a guide <i class="fa fa-group" style="color:#222;"></i></h1>
</div>
  <% @guides.each_slice(4) do |slice| %>   
  <row>
      <% slice.each do |guide| %>
<div height="200px" class="col-md-3" style="padding-top:20px; padding-bottom:20px;">
  <div class="block-update-card status" style="margin-bottom:10px;">
    <div class="update-card-body">
      <div class="update-card-body">
        <div class="row">
          <div class="col-md-4">
            <img class="img-rounded" src="http://graph.facebook.com/<%= current_user.uid %>/picture?type=large" height="40px" width="70px"/>
          </div>
          <div class="col-md-8">
          <h4>MARISSA MONTGOMERY</h4>
          </div>
          </div>
          <div class="scroll"><%= guide.blurb %></div>

        <hr width="80%">
        <div class="scrollCard">
                  <p><b><%= model_class.human_attribute_name(:major) %></b> <%= guide.major %></p>
          <p><b><%= model_class.human_attribute_name(:interests) %></b> <%= guide.interests %></p>
          <p><b><%= model_class.human_attribute_name(:hometown) %></b> <%= guide.hometown %></p>
          <p><b><%= model_class.human_attribute_name(:year) %></b> <%= guide.year %></p>
        </div>
      </div>
    </div>

        <p class="text-center card-bottom-status">
          SELECT THIS GUIDE
        </p>
</div>
</div>


      <% end %>
  </row>
  <% end %>
<!--<row style="text-align:center;">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_guide_path,
            :class => 'btn btn-primary' %>
          </row>-->


<!--
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:major) %></th>
      <th><%= model_class.human_attribute_name(:interests) %></th>
      <th><%= model_class.human_attribute_name(:hometown) %></th>
      <th><%= model_class.human_attribute_name(:blurb) %></th>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%= model_class.human_attribute_name(:payment_id) %></th>
      <th><%= model_class.human_attribute_name(:payment_details) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @guides.each do |guide| %>
      <tr>
        <td><%= guide.id %></td>
        <td><%= guide.major %></td>
        <td><%= guide.interests %></td>
        <td><%= guide.hometown %></td>
        <td><%= guide.blurb %></td>
        <td><%= guide.year %></td>
        <td><%= guide.payment_id %></td>
        <td><%= guide.payment_details %></td>
        <td><%=l guide.created_at, format: :long %></td>
        <td>
          <%= link_to guide_path(guide), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to guide_path(guide), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
<row>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_guide_path,
            :class => 'btn btn-primary' %>
          </row>



    <style>
    div.scroll
{
width:240px;
height:40px;
overflow:scroll;
font-size:12px;
}
    div.scrollCard
{
height:117px;
overflow:scroll;
font-size:12px;
}
    </style>

