<h1>Listing tour_requests</h1>

<table>
  <thead>
    <tr>
      <th>Guide</th>
      <th>Type</th>
      <th>Visit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tour_requests.each do |tour_request| %>
      <tr>
        <td><%= tour_request.guide %></td>
        <td><%= tour_request.type %></td>
        <td><%= tour_request.visit %></td>
        <td><%= link_to 'Show', tour_request %></td>
        <td><%= link_to 'Edit', edit_tour_request_path(tour_request) %></td>
        <td><%= link_to 'Destroy', tour_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour request', new_tour_request_path %>
